<a href="https://colab.research.google.com/github/AliferSales/ccp-learning-center/blob/master/blackboard/module-1/class-3/3-Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title


---

description

## 1 - Making queries with DBeaver
---

In the previous classes, we learned the Waze Data and how to capture and store them. Now, we need to learn how to get this data from the database. In other words, we are talking about queries. A query is a database data request based in custom filters, aggregations and ordinations. To make queries, we will use SQL (Structured Query Language). Our focus here will not to teach SQL sintaxe, but if you don't know about it, there are many free courses in the web, so, take a Google and problem solved!

In this section, we'll use the SQL client and database tool [DBeaver](https://dbeaver.io/). Please, install the Community Edition, by [clicking here](https://dbeaver.io/download/). Let's learn how to connect to the database, acces the data and make simple queries.

### 1.1 Connecting to the database

The first step is connect DBeaver to the database. To do that, open DBeaver and follow:

1. In the menu, click in **Database** and then in **New Connection**.
2. In the opened box, select the **connection type** of your database and click in **`Next >`**. In our case, we select PostgreSQL.
3. Input the **connections settings** of your database. It varies depending on your connection type.
4. Click in **`Test Connection ...`**
5. If was all ok, will apper a **`Sucess`** message box. Click in **`Ok`**.
6. Click in **`Finish`**

<img style="width=800px" src="https://drive.google.com/uc?export=view&id=1soa-jra6IoSkgHInIJGTQcucgRLpYZwI">

DBeaver already are connect to the database where the waze data are. In the left DBeaver interface, you must see a panel called **`Database Navigator`**. In there, you can access the schemas and tables of the database. Remember our data are in `waze` schema. To see the content of a table, you just need to click twice in the table name. Test it with `jams` table.

### 1.2 Making queries

The next step of this quick DBeaver tutorial is learn how to make queries. In other words, we need to discover how to input SQL scripts in DBeaver. It's easy! To illustrate the proccess, let's run a query that return the jams where average speed is less then 20 km/h.

1. Open a New SQL Editor: In the menu, click in **`SQL Editor`** and, then, click in **`New SQL Editor`**.
    - A new text box will be created in the center to right of the DBeaver interface. In there you can write any SQL script to your database.
2. In the `SQL Editor` oppened text box, write the following SQL script:

```sql
SELECT uuid, pub_utc_date, street, city, country, speed_kmh, length, "level"
FROM waze.jams
WHERE speed_kmh < 20
ORDER BY speed_kmh
```

3. **Run** with **`CTRL + ENTER`** shortcut.

Below the `SQL Editor`, a table with the query result.

### 1.3 Exporting a query result

Sometimes we may to be interessed to export a query result in a structured data file. To do this:

1. **Open and write the query** in the `SQL Editor`, as we did make in the previous sub-section.
2. With yor cursor, **select the query script** and **right click**.
3. In the oppened options, go to **`Execute`** and click in **`Export from Query`**.
    - It will appear the **Data Transfer box**. First, you need to choose the export target type. You can save the query result to a new database table, export to a file, or even to a SQL script. In our case, we will export to a CSV file.
4. In the **`Data Transfer`** box, select **`CSV | Export to CSV file(s)`** and click in **`Next >`**.
5. Select **`Single query`** extract type, keep select **`Open new connection(s)`** and **`Select row count`** and click in **`Next >`**.
6. If you want to **custom the CSV format** (as delimiters, separators and header), it's the moment. After then, click in **`Next >`**.
7. Select the **target directory** where the file will be saved, define its **name** and **enconding**. Then, click in **`Next >`**.
8. Click in **`Finish`**.

Done! The query result file is ready.

---

---

---

## 2 - QGIS

---

This section will present you a little bit of the free and open source Geographic Information System [QGIS](https://qgis.org/en/site/index.html)

---

---

---

## 3 - Queries with Python

---

In this section, we will learn how to make queries with [Python](https://www.python.org/) in two ways. First, we'll see it using [SQLAlchemy](https://www.sqlalchemy.org/), a Python SQL toolkit. And, as a alternative way, we'll use [Pandas](https://pandas.pydata.org/), an powerful tool to data analysis.

### 3.1 Connecting to the database

First of all, we need to connect to the database. To do that we will need of the name, host, port, user and password of the database. But, as we already did it in the previous class, this should not be something new to you.

In [0]:
from sqlalchemy import create_engine

host = "104.155.150.247" #@param {type:"string"}
port = "5432" #@param {type:"string"}
database = "postgres" #@param {type:"string"}
user = "postgres" #@param {type:"string"}
password = "12345678" #@param {type:"string"}

if port != "": port = ":" + port
if password != "": password = ":" + password

engine = create_engine('postgresql://{}{}@{}{}/{}'.format(user,password,
                                                          host,port,
                                                          database))
con = engine.connect()

### 3.2 Queries using SQLAlchemy

[SQLAlchemy](https://www.sqlalchemy.org/) is a Python SQL toolkit that allows us to connect and run SQL scripts using Python. 

We already use it to connect to the database, when we created a `engine` object and started the connection, storing it in `con` variable. To make queries (or run any other SQL script type), we will use this object and its method called `execute`. To illustrate, let's use the same query that we used in section 1

```sql
SELECT uuid, pub_utc_date, street, city, country, speed_kmh, length, "level"
FROM waze.jams
WHERE speed_kmh < 20
ORDER BY speed_kmh
```

In [4]:
query = """
SELECT uuid, pub_utc_date, street, city, country, speed_kmh, length, "level"
FROM waze.jams
WHERE speed_kmh < 20
ORDER BY speed_kmh
"""

query_result = con.execute(query)
list(query_result)[:5]

[('1460719933', datetime.datetime(2018, 12, 27, 17, 3), 'Av. Nicolás Ayllón/Carretera Central', 'Ate', 'PE', 0.0, 83, 5),
 ('1501343288', datetime.datetime(2018, 12, 27, 17, 3), 'Jr. Cuzco', 'Lima', 'PE', 0.0, 134, 5),
 ('1452122016', datetime.datetime(2018, 12, 27, 17, 3), 'Av. Nicolás Ayllón', 'Ate', 'PE', 0.0, 123, 5),
 ('1458290174', datetime.datetime(2018, 12, 27, 17, 3), 'Av. Nicolás Ayllón', 'La Victoria', 'PE', 0.0, 92, 5),
 ('1497203141', datetime.datetime(2018, 12, 27, 17, 3), 'Av. Nicolás Ayllón', 'La Victoria', 'PE', 0.0, 75, 5)]

To export the query result, you need to process the data using some Python code lines. At really, it isn't a hard task. But there are a easier way to do it: by using Pandas.

### 3.3 Queries using Pandas

[Pandas](https://pandas.pydata.org/) is an open source library providing, with high-performance, a easy way to manipulate data structures and create data analysis using Python.

It's a really powerfull tool to works with data in Python, from the exploratory data analisys to the achievement of complex and incredible analysis. So, Pandas will be very important and usefull to us.

As we already connected to the database in section 1, make queries turns very easy by using [`read_sql_query`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_sql_query.html?highlight=read_sql_query#pandas.read_sql_query) method, where we input the query and the SQLAlchemy connection object (the `con` variable) and it return a [DataFrame object](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.html) containing the query result.

In [10]:
import pandas as pd

query = """
SELECT uuid, pub_utc_date, street, city, country, speed_kmh, length, "level"
FROM waze.jams
WHERE speed_kmh < 20
ORDER BY speed_kmh
"""

df = pd.read_sql_query(query, con)
df.head()

,uuid,pub_utc_date,street,city,country,speed_kmh,length,level
0,1460719933,2018-12-27 17:03:00,Av. Nicolás Ayllón/Carretera Central,Ate,PE,0.0,83,5
1,1501343288,2018-12-27 17:03:00,Jr. Cuzco,Lima,PE,0.0,134,5
2,1452122016,2018-12-27 17:03:00,Av. Nicolás Ayllón,Ate,PE,0.0,123,5
3,1458290174,2018-12-27 17:03:00,Av. Nicolás Ayllón,La Victoria,PE,0.0,92,5
4,1497203141,2018-12-27 17:03:00,Av. Nicolás Ayllón,La Victoria,PE,0.0,75,5

Note that the returned information structure is much more friendly, right? And it should not be any different, as the purpose of SQLAchemy is to enable database connection using Python, while Pandas focuses on visualization and data processing. Also, Pandas uses SQLAlchemy to make its queries. That is, one complements the other. 

A DataFrame Pandas Object provides so many resources that enable us to do the unthinkable with these data. But this is for another class.

To finalizate this class, let's see how to export the data to a structured data file. More specifically, let's save the data in a csv file using [`to_csv`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.to_csv.html?highlight=to_csv#pandas.DataFrame.to_csv) method.

In [0]:
df.to_csv('Lima_2018-12-27-17:03:00_speed_less_20.csv')

In [13]:
!ls *.csv

Lima_2018-12-27-17:03:00_speed_less_20.csv

---

---

---

## Conclusion

It's the end of the class 3.

...

In the next class, ...

Any suggestion or criticism is very welcome. To do that, [use our github, by clicking here](https://github.com/waze-programs/ccp-learning-center).

<img style="width=800px" src="https://drive.google.com/uc?export=view&id=1i3Ln64JRfxMseKZ3ZdKFMsRofgn7Q1oY">